h4.name {
    margin-top: 50px;
    background: #0095DD;
    color: #fff;
    padding: 5px 7px;
}
h4.name:first-child{
	margin-top:20px;
}
.prettyprint {
	width:inherit;
}
.prettyprint code {
    padding: 10px 12px;
        font-size: 110%;
    line-height: 20px;
    background:#e7e7e7;
}
article > h1:first-child {
	display:none;
}
#main h1.page-title {
	margin-bottom: -10px;
	color: #0095DD;
}
h3.subsection-title {
    margin-top: 50px;
}

h3.subsection-title + .name {
	margin-top:20px;
}
.type-signature, .signature-attributes {
    color: #D9D9D9;
}
.type-signature a {
    color: #fff;
}
section.methods-list {
    font-size: 1.3em;
    font-family: inherit;
    letter-spacing: 0.0425em;
    position: relative;
    top: -10px;
}
.methods-list li {
    margin-top: 10px;
}